.templateList {
  padding: 0;
}

.templateList li {
  list-style: none;
}

.templateList a {
  display: block;
  width: 100%;
  padding: 0.35rem 0.2rem;
}

.templateList a:hover {
  background-color: lightgrey;
}
